<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Servers on fire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="{{url}}stuff/bootstrap.css" rel="stylesheet">
    <link href="{{url}}stuff/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{url}}stuff/sof.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
  </head>

  <body>
<img class="hide" id="ashort" src="{{url}}stuff/arrowshort3.png" />
<img class="hide" id="along" src="{{url}}stuff/arrowlong3.png" />
  <div id="ajaxstatus">synced</div>

  <div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" style="width: 100%; height: 85px; background-color: black;">
			<img class="pull-left navbarpic" src="{{url}}stuff/riotlogo81.png" />
			<p class="sofheader">Servers on Fire</p>
			<p class="sofsubhead">Emergency Messaging Tool</p>
		</div>
	</div>
</div>


    <div class="container-fluid" style="margin-top: 85px;">
		<div class="row-fluid">
			<div class="span4">
			
				<form class="form-vertical">
					<fieldset>
						<legend>Assemble the message</legend>
						<br>
							Select language to show: 
							<select id="pLang">
							{% for shortcut, data in locaData.items %}
							<option value="{{shortcut}}">{{data.region}}</option>
							{% endfor %}
							</select>
							<div style="margin-bottom: 0px;" class="control-group">
								<label class="control-label" for="pD-title">Thread title</label>
								<div class="controls">
									<span class="input-xlarge uneditable-input pDinput" id="pD-title"></span>
								</div>
							</div>
							<div class="control-group">
								<div class="control">
									<label class="checkbox inline"><input type="checkbox" id="pD-tstamptitle">Time-stamp</label>
									<input type="button" class="button pull-right" id="useAsTitle" value="Use selected message">
									
								</div>
							</div>
							<hr>
							<div class="control-group">
								<label class="control-label" for="pD-body">Thread body</label>
								<div class="controls">
									<span class="input-xlarge uneditable-input pDinput" id="pD-body" ></span>
								</div>
							</div>
							<div class="control-group">
								<div class="control">
									<label class="checkbox inline"><input type="checkbox" id="pD-tstampbody">Time-stamp</label>
									<input type="button" class="button pull-right deactivated" id="useAsBody" value="Use selected message">
									
								</div>
							</div>
							
					</fieldset>
				</form>


			</div>
			<div class="span8">
				<div id="step1"> <!-- not part of the bootstrap scaffolding, but a wrap-around div that restricts the size of the scaffolding inside -->
					<div id="messages">
					</div>
				</div>
				<div id="step2"> 
					<div id="actualstaging">
						<table width=100% class="table-bordered table-striped table-condensed">
							<colgroup>
								<col width="11%" /><!-- language -->
								<col width="60%" /><!-- messaging -->
								<col width="21%" /><!-- localized time -->
								<col width="8%" /><!-- post link -->
								
							</colgroup>
							<tr><thead><th>Language/Region</th><th>Localized message</th><th>Localized time</th><th>Forum link</th></tr></thead>
							{% for shortcut, data in locaData.items %}
							<tr>
								<td class="s2lang">{{data.region|capfirst}}</td>
								<td id="staging{{shortcut}}"></td>
								<td id="datetime{{shortcut}}"></td>
								<td class="postlink"><a href="{{data.forumurl}}">Forums</a></td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /container -->
	

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="{{url}}stuff/sof.js" type="text/javascript"></script>

    <script src="{{url}}stuff/jquery.js"></script>
    <script src="{{url}}stuff/bootstrap-transition.js"></script>
    <script src="{{url}}stuff/bootstrap-alert.js"></script>
    <script src="{{url}}stuff/bootstrap-modal.js"></script>
    <script src="{{url}}stuff/bootstrap-dropdown.js"></script>
    <script src="{{url}}stuff/bootstrap-scrollspy.js"></script>
    <script src="{{url}}stuff/bootstrap-tab.js"></script>
    <script src="{{url}}stuff/bootstrap-tooltip.js"></script>
    <script src="{{url}}stuff/bootstrap-popover.js"></script>
    <script src="{{url}}stuff/bootstrap-button.js"></script>
    <script src="{{url}}stuff/bootstrap-collapse.js"></script>
    <script src="{{url}}stuff/bootstrap-carousel.js"></script>
    <script src="{{url}}stuff/bootstrap-typeahead.js"></script>
	<script type="text/javascript">
		$(function() {
			
			// ready function
			document.myURL = '{{url}}';
			document.lastSearch = $("#maininput").val();
			bindStatics();
			checkSync();
			updateSearch();
			getLocaData();
			timeTick();

		});
	</script>


  </body>
</html>
