<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Servers on Fire</title>
<script src="stuff/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="stuff/sof.js" type="text/javascript"></script>

<!--<link rel="stylesheet/less" type="text/css" href="stuff/styles.less" />-->
<!-- <link rel="stylesheet" href="stuff/reset.css" type="text/css" /> -->
<link rel="stylesheet" href="stuff/sof.css" type="text/css" />

<!--<script src="stuff/less.js" type="text/javascript"></script>-->
<script type="text/javascript">

$(function() {

	window.editmode = false;
	bindStuff();
	document.lastSearch = $("#maininput").val();
	checkSync();
	updateSearch();

});
</script>
</head>

<body>
<div id="wrapper">
	<div id="header">
		<div class="guidestep">Step 1: Find the messaging you need</div><br>
		<div id="maininputdiv"><label for="maininput">Filter: </label>
			<input id="maininput" type="text" /><img id="maininputinfo" src="stuff/images/infoicon.png" title="Filter is applied as you type">
		</div>
		<div id="ajaxstatus">synced</div>
	</div>


	<div id="allcats">

	</div>
</div>
<div id="stagingarea">
<div class="guidestep guidestepinactive">Step 2: Prepare messaging for posting</div>
<span id="tempstaging">Please first select messaging above</span>
</div>
</body>
</html>