.shardlogin {
border: 3px solid #ccc;
border-radius: 3px;
text-align: center;
font-size: 14pt;
margin-bottom: 15px;
padding: 10px;
cursor: pointer;
}

.lockspan {
border: 1px solid grey;
text-align: center;
background-color: #FAA;
padding: 5px;
position: absolute;
top: 25%;
left: 25%;
font-size: 16pt;
width: 550px !important;
color: black !important;
display: block;
}

.notloggedin {
border-color: #F99;
background-color: #FDD;
}

.loggedin {
border-color: #9F9;
background-color: #DFD;
cursor: default;
}

.notloggedin:hover {
border-color: #F00;
}

#loginloading {
margin-left: auto;
margin-right: auto;
text-align:center;
}

.searchheader {
	font-size: 16pt;
	font-weight: bold;
	margin-top: 15px;
	white-space: nowrap;
	text-align: left;
}

#catsearch, #issuesearch {
	border-width: 3px;
	min-width: 80%;
}

#catresults {
	width: 100%;
	height: 300px;
	overflow-x: hidden;
	overflow-y: hidden;
	border: 3px solid #ccc;
	border-radius: 3px;
	padding: 3px 3px 0px 3px;
}

#issueresults {
	width: 100%;
	height: 300px;
	overflow-x: hidden;
	overflow-y: hidden;
	border: 3px solid #ccc;
	border-radius: 3px;
	padding: 3px 3px 0px 3px;

}

#ajaxstatus {
	
	right: 5px;
	position: absolute;
	bottom: 5px;
	color: #555;
	z-index:2500;
}
.fw {
font-family: courier;
}

.navbarpic {
padding-top: 2px;
padding-bottom: 0px;
margin-top: 0px;
margin-bottom: 0px;
padding-left: 17px;
padding-right: 50px;
}

.sofheader {
    font-size: 29pt;
    margin-top: 22px;
    color: whitesmoke;
    letter-spacing: 4px;
    margin-left: 191px;
    font-weight: bold;
}

#logins {
	text-align: right;
	padding-right: 40px;

}

.sofsubhead {

    margin-left: 207px;
    font-size: 16pt;
    margin-top: 15px;
    letter-spacing: 2px;

}

.sofcontainer {
margin-top: 60px;
}

.regionSelected {
background-color: #beb !important;
}

.regionSelected:nth-child(even) {
background-color: #cfc !important;
}


.toggleIcon {
text-align: center;
}

.openFold, .closedFold {
padding: 10px 5px 5px 5px;
font-size: 14pt;
font-weight: bold;
background-color: #F3F3F3;
width: 90%;
margin: 5px 0px 5px 0px;
}

.selected  {
background-color: #beb ! important;
}

#bgcanv {
position: absolute;
}

.s2lang {
font-weight: bold;
text-align: center;
}

.postlink {
text-align: center;
}

body {
overflow: hidden;
}

.container-fluid {
margin-top: 50px;
}

#maininput: {
margin-top: 5px;
margin-bottom: 5px;

}

.result {
border-bottom: 2px solid #bbb;
font-size: 12pt;
padding: 4px 5px 4px 5px;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.result:hover, .result:nth-child(even):hover {
background-color: #dfd;
}

.result:nth-child(even) {
background-color: #eee;
}

#previewscroll {
height: 350px;
overflow-y: scroll;
border: 3px solid #ccc;
border-radius: 3px;
}

.previewrow {
font-size: 12pt;
padding-top: 5px;
cursor: pointer;
}

.previewrow:nth-child(odd) {
background-color: #ddd;
}

.rowdisabled {
color: #bbb;
cursor: not-allowed;
}

.reviewheader {
font-weight: bold;
padding-left: 10px;
font-size: 12pt;
}

.regionheader {
font-weight: bold;
}

.regioncell {
padding-left: 10px;
padding-top: 5px;
}

#doitbutton.disabled {
background-color: #bbb !important;
}

#doitbutton {
font-size: 24pt;
padding: 15px;
}

#doitpane {
margin-top: 28px;
text-align: center;
}
