.editbox {
	width:100%;
	height: 150px;
}
body {
	font-family: arial;
	background: url("images/bodyBg.jpg") no-repeat fixed center top #030615;
}	
#wrapper {
	margin: auto;
	width: 98%
}
#ajaxstatus {
	position: fixed;
	top: 10px;
	right: 30px;
	font-size: 14px;
	color: white;
	font-weight: bold;
}
#maininputdiv {
	color: #FFFFFF;
	float: left;
	font-size: 20px;
	margin: 75px 200px;
	text-align: center;
	padding: 4px 10px;
	width: 45%;
}
#maininput {
	border: 2px groove #000000;
	font-size: 20px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-top: 3px;
	width: 80%;
}
#header , .maintable, .softable, #newCat {
	clear: both;
	margin: auto;
	width: 90%;
}
.softable, #newCat {
	margin-top: 20px;
}
#newCat {
	text-align: center;
}
.maintable  th {
	font-weight: bold;
	color: #FFF;
}
p {
	color: #FFF;
}
.softable  th {
	font-weight: bold;
	color: #FFF;
	cursor: pointer;
}
td {
	padding: 4px 5px;
	border: 1px solid #37383F;
}
.addnewmessage_td {
	text-align: center;
}
#riotLogo {
	float: left;
}

input[type="button"] {
	cursor: pointer;
}

.numresults {

	color: white;
	font-weight: bold;
}
