#ajaxstatus {
	
	right: 5px;
	position: absolute;
	bottom: 5px;
	color: #555;
	z-index:2500;
}
.fw {
font-family: courier;
}
.guidestepinactive {
background-color: #999;
}

.cat_toggle {
cursor: pointer;
}

.toggleIcon {
text-align: center;
}

.openFold, .closedFold {
padding: 10px 5px 5px 5px;
font-size: 14pt;
font-weight: bold;
background-color: #F3F3F3;
width: 90%;
margin: 5px 0px 5px 0px;
}

.selected {
border: 2px solid rgba(255, 0, 0, 1);
box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.5);
background-color: rgba(255, 255, 150, 0.5);
font-size: 12pt;
font-weight: bold;
padding-top: 5px;
}

#along {
position: absolute;
top: 60px;
left: 262px;
z-index:2400;
}

#ashort {
position: absolute;
top: 18px;
left: 246px;
z-index:2400;
}

#bgcanv {
position: absolute;
}

.msgnormal {
border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.msgnormal:hover {
border: 1px solid rgba(0, 0, 0, 1);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
box-shadow: 0 0 5px rgba(0, 0, 255, 1);
cursor: pointer;
}


.msgrow {
width: 89%;
margin-bottom: 10px;
margin-left: 5px;
margin-right: 5px;
padding-left: 10px;
padding-top: 7px;
}

.s2lang {
font-weight: bold;
text-align: center;
}

.postlink {
text-align: center;
}

.openFold {
border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: outset 0 2px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: outset 0 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: outset 0 2px 2px rgba(0, 0, 0, 0.05);
}

.closedFold {
border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#step1 {
height: 600px;
overflow-y: scroll;
overflow-x: hidden;
}

#step2 {
height: 400px;
overflow-y: auto;
overflow-x: hidden;
border-top: 5px solid grey;
padding-bottom: 50px;
}

body {
overflow: hidden;
}

#pD-title:hover, #pD-body:hover {
box-shadow: 0px 0px 5px 3px rgba(255, 0, 0, 1);
cursor: pointer;
}

#pD-title {
height: 45px;
white-space: normal;
}

#pD-body {
height: 200px;
white-space: normal;
}

.container-fluid {
margin-top: 50px;
}

#maininput: {
margin-top: 5px;
margin-bottom: 5px;

}

.pDinput {
width: 390px;
display; block;
}