// variables

@shColor: rgba(3,3,3,0.4);
@shadow: 1px 1px 3px 5px @shColor;
@greyT: rgba(66,66,66,0.8);
@greyB: rgba(3,3,3,0.8);
@greyTL: rgba(99,99,99,0.65);
@greyBL: rgba(36,36,36,0.65);
@gradHLTop: rgba(255,255,255,0.0);
@gradHLBot: rgba(200,200,200,0.1);
@transBG: url(images/transBG.png);
@transRed: rgba(180,0,0,0.3);
@transLite: rgba(66,66,66,0.3);
@transBGWhite: url(images/gradientWhite.png);
@editBG: rgba(66,66,66, 0.5);

// mixins

.roundCorners (@radius:  5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}
.boxShadow (@x:2px, @y:2px, @blur:3px, @spread: 0px, @color: @shColor) {
	box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
}
.gradientGrey {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, @greyB), color-stop(0.8, @greyT));
	background-image: -moz-linear-gradient(center bottom, @greyB 30%, @greyT 80%);
}
.gradientGreyInvert {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, @greyT), color-stop(0.8, @greyB));
	background-image: -moz-linear-gradient(center bottom, @greyT 30%, @greyB 80%);
}
.gradientGreyLite {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, @greyBL), color-stop(0.8, @greyTL));
	background-image: -moz-linear-gradient(center bottom, @greyBL 30%, @greyTL 80%);
}
.gradientGreyInvertLite {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, @greyTL), color-stop(0.8, @greyBL));
	background-image: -moz-linear-gradient(center bottom, @greyTL 30%, @greyBL 80%);
}
.gradientHighlite {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, @gradHLBot), color-stop(0.8, @gradHLTop));
	background-image: -moz-linear-gradient(center bottom, @gradHLBot 30%, @gradHLTop 80%);
}

// actual CSS

.maintable .gradGrey th  {
	.gradientGrey;
	padding: 4px 0;
	&:first-child {
		.roundCorners (5px 0px 0px 5px);
	}
	&:last-child {
		.roundCorners (0px 5px 5px 0px);
	}
}
#maininputdiv  {
	.gradientGrey;
}
#maininputdiv, .softable, #maininput, #wrapper th.filter_lock, .editbox, .styleButton, .changecat, #newCat {
	.roundCorners;
}
.softable, #newCat {
	background: @transBG repeat scroll 0 0 transparent;
	td {
		.roundCorners;
	}
	th {
		.gradientHighlite;
		font-size: 1.2em;
		height: 2em;
		text-transform: capitalize;
	}
}
#allcats table tr:nth-child(even) {
	background-color: @transRed;
}
#allcats table tr:last-child {
	background-color: transparent;
}
#wrapper th.filter_lock {
	.gradientGreyInvert;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	padding-bottom: 3px;
}
.editbox {
	width: 95%;
	padding: 5px;
	height: 150px;
	background-color: @transLite;
	.boxShadow (1px, 1px);
	border: 0px none;
	color: #FFF;
}
.styleButton {
	.gradientGreyLite;
	border: 0px none;
	background-color: transparent;
	margin: 5px;
	padding: 3px 10px;
	color: #FFF;	
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	&:active {
		.gradientGreyInvertLite;
	}
}
td .styleButton {
margin: 10px 10px 10px 0;
width: 29%;
}
.addnewmessage_td .styleButton {
	margin: 5px;
}
.changecat {
	border: 0px none;
	padding: 2px 10px;
	background-color: transparent;	
	color: #FFF;
	.gradientGreyLite;
	option {
		background: @transBG repeat scroll 0 0 transparent;	
		color: #FFF;
	}
}


.numresults td {
	background-color: @transBG;
}